:root {
  --maincolor: rgb(59, 33, 9)
}

body {
    color: var(--maincolor);
    font-family:'Times New Roman', Times, serif;
}


.mainpaper {
    margin-inline: 13%;
    background-color: rgb(248, 241, 218);
    padding-inline: 10px;
    padding-top:5px;
    padding-bottom: 5px
}

h1 {
    font-size: 80px;
    text-align: center;
    letter-spacing: auto;
    padding-bottom: -20px;
    margin: 0%
}

hr {
    margin: 1px;
    color: var(--maincolor);
    background-color: var(--maincolor);
    border: 0;
    height: 1px
}

h3 {
    text-align: center;
    padding-bottom: -20px;
    margin: 0%
}

h2 {
    font-size: 50px;
    text-align: center;
    padding-bottom: -20px;
    margin: 0%
}

h4 {
    font-size: 25px;
    text-align: left;
    padding-bottom: -20px;
    margin: 0%
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding-inline: 5px;
  word-wrap: break-word;
}

a:link, a:visited{
    color: var(--maincolor);
    text-decoration: none;
}

a:hover {
    color:var(--maincolor);
    text-decoration:none;
    text-decoration:underline;
}

a:active {
    color: var(--maincolor);
    text-decoration: none;
}

/* popup stuff */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 300px;
  background-color: rgba(198, 193, 176, 0.872);
  color: var(--maincolor);
  text-align: left;
  font-size: 20px;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: -125px;
  top: 25px;
  margin-left: 80px;
}


/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
