---
layout: blank
---


<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel = "stylesheet" href = "assets/css/main.css">
  <title>{{ page.title }}</title>
</head>

<body>

<div class = 'mainpaper'>
<!-- start main paper -->
 <br><br>
<div style = "display: flex;justify-content: center;">
<div style = "width: 80%; text-align: left;">
<!--main article-->
<h2>DOUBLE ENTENDRE?</h2>
<hr><hr>
    There’s nothing like a bit of wordplay to make a text more lively. I love a phrase that makes me do a double take - the art of the double entendre has been practiced in poems, plays and songs for centuries past, and here are a few favourites of mine.
<br><br>
</div >
</div>


</div>
</div>

<!--end main paper-->
</div>

{{ content }}



</body>

</html>

