---
layout: null
---


<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel = "stylesheet" href = "assets/css/main.css">
  <title>{{ page.title }}</title>
</head>

<body onload = "myFunction()">

<div class = 'mainpaper'>
<!-- start main paper -->
  <div class = 'row'>
  <div class = 'column' style = 'text-align: left;'>Edition number: HINTS</div>
  <div class = 'column'style = 'text-align: center;'>Someday, Month 00 0000</div>
  <div class = 'column'style = 'text-align: right;'>
    <div class="popup" onclick="myFunction()">rules
  <span class="popuptext" id="myPopup">
<h4 style = "text-align: center;">RULES</h4>
<br>
1. DONT LOOK AT THE SOURCE CODE it is really really badly formatted and might give away the answers
<br><br>
2. You will most definitely need to google things
<br><br>
3. no ai (not that it would help)
  </span>
</div>

 
    <script>
function myFunction() {
  var popup = document.getElementById("myPopup");
  popup.classList.toggle("show");
}
    </script>

  </div>
 </div>
 <hr style = 'height:3px'>
 <hr style = 'margin-top: 5px;'>
<h1><a href="/">the FUNKY TIMES</a></h1>
<hr>

<!--subheadings section-->
<div class = "row">
  <div class = "column" style = "text-align:center">
    <h3><a href="/ordinate">Ordinate</a></h3>
  </div>
  <div class = "column" style = "text-align:center">
    <h3><a href="/abscissa">Abscissa</a></h3>
  </div>
  <div class = "column" style = "text-align:center">
    <h3><a href="/abscissa">Applicate</a></h3>
  </div>
  <div class = "column" style = "text-align:center">
    <h3><a href="/abscissa">Cashout</a></h3>
  </div>
</div>
<hr>
<!-- end main paper -->
</div>


{{ content }}



</body>

</html>

