---
layout: blank
---


<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel = "stylesheet" href = "assets/css/main.css">
  <title>{{ page.title }}</title>
</head>

<body>

<div class = 'mainpaper'>
<!-- start main paper -->

<h2>ABOUT RATATOUILLE</h2>
<hr style = "margin-bottom: 10px">


      <div class = "row" style = "margin: 15px">
    <div class = "column" >
      <div style = "text-align: left; hyphens: auto; width: 380px">
That Ratatouille, the “French Provençal dish of stewed vegetables” precedes “Ratatouille” the lifechanging Pixar film in the Google search engine results is an abomination, and is one of the leading signs that modern SEO optimisation culture has failed us on a monumental level. The film is a masterclass of anthropomorphic animation, and there is much to be said about its portrayal of alienation and hierarchies within both haute cuisine and the human-rat world. However, after watching the acclaimed film 16 times, I find myself with one main question: why do Remy and his human counterpart not have European accents??  
<br>
<br>
I first turn to the inescapable nuisance that is Fandom.com for answers within the canon, and am immediately faced with 22 inescapable ads. Understandably, there is little canon interpretation for Remy the rat’s accent, on account of him being a rat, despite the fact that I happen to know 9 rats personally that speak over 21 languages and dialects fluently. 
<br>
<br>
The article on deuteragonist Alfredo Linguini is slightly more fruitful - his name, as well as his mother’s name *Renata* is distinctively Italian, but after 15 hours of searching, I conclude that there is no acceptable reasoning in canon for these accents.
<br><br>
Our next course of action is, of course, tumblr.com. Also google scholar I guess. 15 minutes of googling tells me that a) Linguini has a rat accent and b) Americans have a “subliminal ability to identify with rats”. An article by Stanley Brandes cites that colloquialisms like “running in a rat race” and wearing hair in “rat tails” contribute to making the protaganist Remy a relatable character.
</div>
    </div>

    <div class = "column">
            <div style = "text-align: center; hyphens: auto; width: 380px;">
                        <img style = "filter: sepia(100); width:250px; height: 337.5px;"src = "assets/images/rat-poster.jpg" 
    alt = "placeholder image">
    <br><br>
    <div style = "text-align: left;">

 It follows then, that Linuini’s accent is a device to connect the two underdogs, effectively mystifying and emphasising the elevated status of the cooking society they are trying to break into. 11 times out of 12, anthropomorphism is used as a class metaphor and “Ratatouille” is no exception. I give this film 8 stars.
<br>
<br>
— A Ratatouille enthusiast      </div></div>
    </div>
  </div>
    </div>


<!-- end main paper -->
</div>

{{ content }}



</body>

</html>

