---
layout: blank
---


<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel = "stylesheet" href = "assets/css/main.css">
  <title>{{ page.title }}</title>
</head>

<body>

<div class = 'mainpaper'>
<!-- start main paper -->

<h2>ABOUT RATATOUILLE</h2>
<hr style = "margin-bottom: 10px">

<div class = "row">
    <div class = "column" style ="flex-basis:60%;">
      <div class = "row">
    <div class = "column" >
      <div style = "text-align: left; hyphens: auto; width: 270px">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum feugiat nunc quis scelerisque. Duis lacinia turpis aliquam orci posuere, at condimentum orci euismod. Aenean sit amet neque eu odio aliquam cursus et sed mauris. Curabitur et imperdiet tortor, sit amet blandit maurispatapapapapappapa. Donec quis facilisis nisi, ut pulvinar dolor. Nam ut leo nec arcu laoreet pretium. Somdeofnn  j  jj jjjjj
      </div>
    </div>

    <div class = "column">
            <div style = "text-align: left; hyphens: auto; width: 270px;">
              Phasellus quis fringilla quam, id feugiat dui. Integer et lorem porttitor, maximus urna sit amet, cursus nulla. Cras ligula eros, laoreet eu diam quis, facilisis viverra mauris. Etiam viverra mollis libero, sit amet feugiat eros lacinia in. Vestibulum tempor lacinia sem, nec pellentesque turpis faucibus vitae. Donec quis facilisis nisi, ut pulvinar dolor. Nam ut leo nec arcu laoreet pretium. Sed eu facilisis ante, vitae tempor erat. 
      </div>
    </div>
  </div>
    </div>

    <div class = "column" style = "flex-basis: 30%;">
        <div style = "justify-content: center; display:flex">
          <img style = "filter: sepia(100)"src = "assets/images/rat-poster.jpg" 
    alt = "placeholder image" style = "width:225px; height: 312.5px;">
        </div>

    </div>
</div>

<!-- end main paper -->
</div>

{{ content }}



</body>

</html>

