---
layout: null
---

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel = "stylesheet" href = "/assets/css/main.css">
  <title>{{ page.title }}</title>
</head>

<body>

<div class = 'mainpaper'>
<!-- start main paper -->
 <div class = 'row'>
  <div class = 'column' style = 'text-align: left;'>Edition number</div>
  <div class = 'column'style = 'text-align: center;'>Someday, Month 00 0000</div>
  <div class = 'column'style = 'text-align: right;'>Author</div>
 </div>
 <hr style = 'height:3px'>
 <hr style = 'margin-top: 5px;'>
<h1>the FUNKY NEWS</h1>
<hr>

<!--subheadings section-->
<div class = "row">
  <div class = "column" style = "text-align:center">
    <h3>ordinate</h3>
  </div>
  <div class = "column" style = "text-align:center">
    <h3>abscissa</h3>
  </div>
  <div class = "column" style = "text-align:center">
    <h3>applicate</h3>
  </div>
</div>
<hr>
<!--subheadings section-->


<!--First article section w picture? -->
<div class = "row">
  <div class = 'column' style = "flex-basis: 60%;">
    <h2 style = "text-align: left; margin-top: 7.5px">PROLLY A STRANGE TITLE OR SOMETHING</h2>
  <h4><i>another line of stuff for layering</i></h4>
  <hr>
  <!--column layer 2-->
  <div class = "row">
    <div class = "column" >
      <div style = "text-align: left; word-wrap: break-word; word-break: break-all;width: 290px">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum feugiat nunc quis scelerisque. Duis lacinia turpis aliquam orci posuere, at condimentum orci euismod. Aenean sit amet neque eu odio aliquam cursus et sed mauris. Curabitur et imperdiet tortor, sit amet blandit maurispatapapapapappapa. Donec quis facilisis nisi, ut pulvinar dolor. Nam ut leo nec arcu laoreet pretium. Somdeofnn  j  jj jjjjj
      </div>
    </div>

    <div class = "column" >
            <div style = "text-align: left;word-wrap: break-word; word-break: break-all; width: 290px;">
              Phasellus quis fringilla quam, id feugiat dui. Integer et lorem porttitor, maximus urna sit amet, cursus nulla. Cras ligula eros, laoreet eu diam quis, facilisis viverra mauris. Etiam viverra mollis libero, sit amet feugiat eros lacinia in. Vestibulum tempor lacinia sem, nec pellentesque turpis faucibus vitae. Donec quis facilisis nisi, ut pulvinar dolor. Nam ut leo nec arcu laoreet pretium. Sed eu facilisis ante, vitae tempor erat. 
      </div>
    </div>
  </div>
  </div>
<!-- image col 2-->
  <div class = 'column' style = "flex-basis:25%;">
    <div style = "display: flex; justify-content: center; align-items:center; height: 330px;">
      <img src = "/assets/images/placeholder-AoSpades.jpg" 
    alt = "placeholder image" style = "width:225px; height: 312.5px;">
    </div>
    <i style = "text-align: center;">some descriptive text probably</i>
  </div>
</div>
<!-- image col 2-->
 <hr>
<!-- end main paper -->
</div>
{{ content }}



</body>

</html>

