---
layout: blank
---


<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel = "stylesheet" href = "assets/css/main.css">
  <title>{{ page.title }}</title>
</head>

<body>

<div class = 'mainpaper'>
<!-- start main paper -->

<!--subheadings section-->


<!--First article section w picture? -->
<div class = "row">
  <div class = 'column' style = "flex-basis: 60%;">
    <h2 style = "text-align: left; margin-top: 8px">PROLLY A STRANGE TITLE OR SOMETHING</h2>
  <h4><i>another line of stuff for layering</i></h4>
  <hr>
  <!--column layer 2-->
  <div class = "row">
    <div class = "column" >
      <div style = "text-align: left; hyphens: auto;width: 290px">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum feugiat nunc quis scelerisque. Duis lacinia turpis aliquam orci posuere, at condimentum orci euismod. Aenean sit amet neque eu odio aliquam cursus et sed mauris. Curabitur et imperdiet tortor, sit amet blandit maurispatapapapapappapa. Donec quis facilisis nisi, ut pulvinar dolor. Nam ut leo nec arcu laoreet pretium. Somdeofnn  j  jj jjjjj
      </div>
    </div>

    <div class = "column" >
            <div style = "text-align: left; hyphens: auto; width: 290px;">
              Phasellus quis fringilla quam, id feugiat dui. Integer et lorem porttitor, maximus urna sit amet, cursus nulla. Cras ligula eros, laoreet eu diam quis, facilisis viverra mauris. Etiam viverra mollis libero, sit amet feugiat eros lacinia in. Vestibulum tempor lacinia sem, nec pellentesque turpis faucibus vitae. Donec quis facilisis nisi, ut pulvinar dolor. Nam ut leo nec arcu laoreet pretium. Sed eu facilisis ante, vitae tempor erat. 
      </div>
    </div>
  </div>
  </div>
<!-- image col 2-->
  <div class = 'column' style = "flex-basis:25%;">
    <div style = "display: flex; justify-content: center; align-items:center; height: 330px;">
      <img src = "assets/images/placeholder-AoSpades.jpg" 
    alt = "placeholder image" style = "width:225px; height: 312.5px;">
    </div>
    <i style = "text-align: center; margin: 5px">some descriptive text probably</i>
  </div>
</div>
<!-- image col 2-->
 <hr>
<!--SECTION 2 AND 3-->
<div class = "row">
    <!--SECTION 2-->
    <div class = "column">
    <h2 style = "text-align: left; margin-top: 8px; font-size: 40px;">More Wacky Titles</h2>
    <h4 style = "font-size:25px ;"><i>another line of stuff for layering</i></h4>
    <hr>
      <div class = "row">
    <div class = "column" >
      <div style = "text-align: left; hyphens: auto;width:200px">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum feugiat nunc quis scelerisque. Duis lacinia turpis aliquam orci posuere, at condimentum orci euismod. Aenean sit amet neque eu odio aliquam cursus et sed mauris. Curabitur et imperdiet tortor, sit amet blandit maurispatapapapapappapa. Donec quis facilisis nisi, ut pulvinar dolor. Nam ut leo nec arcu laoreet pretium. Somdeofnn  j  jj jjjjj
      </div>
    </div>

    <div class = "column" >
            <div style = "text-align: left;hyphens: auto; width: 200px;">
              Phasellus quis fringilla quam, id feugiat dui. Integer et lorem porttitor, maximus urna sit amet, cursus nulla. Cras ligula eros, laoreet eu diam quis, facilisis viverra mauris. Etiam viverra mollis libero, sit amet feugiat eros lacinia in. Vestibulum tempor lacinia sem, nec pellentesque turpis faucibus vitae. Donec quis facilisis nisi, ut pulvinar dolor. Nam ut leo nec arcu laoreet pretium. Sed eu facilisis ante, vitae tempor erat. 
      </div>
    </div>
  </div>
    </div>
    <!--SECTION 2-->

    <!--SECTION 3-->
    <div class = "column">
        <!--Another split-->
        <div class = "row">
            <div class = "column">
            <h2 style = "text-align: left; margin-top: 8px; font-size: 35px;">Restaurant of the Week</h2>
            <h4 style = "font-size:20px ;"><i>French cuisine: oui or nah</i></h4>
            <hr>
            <div style = "text-align: left;hyphens: auto; width: 200px;">
              Phasellus quis fringilla quam, id feugiat dui. Integer et lorem porttitor, maximus urna sit amet, cursus nulla. Cras ligula eros, laoreet eu diam quis, facilisis viverra mauris. Etiam viverra mollis libero, sit amet feugiat eros lacinia in. Vestibulum tempor lacinia sem, nec pellentesque turpis faucibus vitae. Donec quis facilisis nisi, ut pulvinar dolor. Nam ut leo nec arcu laoreet pretium. Sed eu facilisis ante, vitae tempor erat. 
            </div>
            </div>

            <div class = "column" style = "margin-top: 25px">
                <img src = "assets/images/restaurant.png"
                alt = "placeholder image" style = "width:200px; height: 287.5px; filter:sepia(100)">
                <i style = "text-align: left; margin: 5px">some descriptive text probably</i>
                <div style = "text-align: left;hyphens: auto; width: 200px;">
              Phasellus quis fringilla quam, id feugiat dui. Integer et lorem porttitor, maximus urna sit amet, cursus nulla. Cras ligula eros, laoreet eu diam quis, facilisis viverra mauris. Etiam viverra mollis libero, sit amet feugiat eros lacinia in. Vestibulum tempor lacinia sem, nec pellentesque turpis faucibus vitae. Donec quis facilisis nisi, ut pulvinar dolor. Nam ut leo nec arcu laoreet pretium. Sed eu facilisis ante, vitae tempor erat. 
            </div>
            </div>
        </div>
        <!--Another split-->
    </div>
    <!--SECTION 3-->
</div>
<!--SECTION 2 AND 3-->


<!-- end main paper -->
</div>

{{ content }}



</body>

</html>

