---
layout: blank
---


<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel = "stylesheet" href = "assets/css/main.css">
  <title>{{ page.title }}</title>
</head>

<body>

<div class = 'mainpaper'>
<!-- start main paper -->

<!--subheadings section-->


<!--First article section w picture? -->
<div class = "row">
  <div class = 'column' style = "flex-basis: 60%;">
    <h2 style = "text-align: left; margin-top: 8px">PROLLY A STRANGE TITLE OR SOMETHING</h2>
  <h4><i>another line of stuff for layering</i></h4>
  <hr>
  <!--column layer 2-->
  <div class = "row">
    <div class = "column" >
      <div style = "text-align: left; hyphens: auto;width: 290px">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum feugiat nunc quis scelerisque. Duis lacinia turpis aliquam orci posuere, at condimentum orci euismod. Aenean sit amet neque eu odio aliquam cursus et sed mauris. Curabitur et imperdiet tortor, sit amet blandit maurispatapapapapappapa. Donec quis facilisis nisi, ut pulvinar dolor. Nam ut leo nec arcu laoreet pretium. Somdeofnn  j  jj jjjjj
      </div>
    </div>

    <div class = "column" >
            <div style = "text-align: left; hyphens: auto; width: 290px;">
              Phasellus quis fringilla quam, id feugiat dui. Integer et lorem porttitor, maximus urna sit amet, cursus nulla. Cras ligula eros, laoreet eu diam quis, facilisis viverra mauris. Etiam viverra mollis libero, sit amet feugiat eros lacinia in. Vestibulum tempor lacinia sem, nec pellentesque turpis faucibus vitae. Donec quis facilisis nisi, ut pulvinar dolor. Nam ut leo nec arcu laoreet pretium. Sed eu facilisis ante, vitae tempor erat. 
      </div>
    </div>
  </div>
  </div>
<!-- image col 2-->
  <div class = 'column' style = "flex-basis:25%;">
    <div style = "display: flex; justify-content: center; align-items:center; height: 330px;">
      <img src = "assets/images/placeholder-AoSpades.jpg" 
    alt = "placeholder image" style = "width:225px; height: 312.5px;">
    </div>
    <i style = "text-align: center; margin: 5px">some descriptive text probably</i>
  </div>
</div>
<!-- image col 2-->
 <hr>
<!--SECTION 2 AND 3-->
<div class = "row">
    <!--SECTION 2-->
    <div class = "column">
    <h2 style = "text-align: left; margin-top: 8px; font-size: 40px;">More Wacky Titles</h2>
    <h4 style = "font-size:25px ;"><i>another line of stuff for layering</i></h4>
    <hr>
      <div class = "row">
    <div class = "column" >
      <div style = "text-align: left; hyphens: auto;width:200px">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum feugiat nunc quis scelerisque. Duis lacinia turpis aliquam orci posuere, at condimentum orci euismod. Aenean sit amet neque eu odio aliquam cursus et sed mauris. Curabitur et imperdiet tortor, sit amet blandit maurispatapapapapappapa. Donec quis facilisis nisi, ut pulvinar dolor. Nam ut leo nec arcu laoreet pretium. Somdeofnn  j  jj jjjjj
      </div>
    </div>

    <div class = "column" >
            <div style = "text-align: left;hyphens: auto; width: 200px;">
              Phasellus quis fringilla quam, id feugiat dui. Integer et lorem porttitor, maximus urna sit amet, cursus nulla. Cras ligula eros, laoreet eu diam quis, facilisis viverra mauris. Etiam viverra mollis libero, sit amet feugiat eros lacinia in. Vestibulum tempor lacinia sem, nec pellentesque turpis faucibus vitae. Donec quis facilisis nisi, ut pulvinar dolor. Nam ut leo nec arcu laoreet pretium. Sed eu facilisis ante, vitae tempor erat. 
      </div>
    </div>
  </div>
    </div>
    <!--SECTION 2-->

    <!--SECTION 3-->
    <div class = "column">
        <!--Another split-->
        <div class = "row">
            <div class = "column">
            <h2 style = "text-align: left; margin-top: 8px; font-size: 35px;">Cheese Rain</h2>
            <h4 style = "font-size:20px ;"><i>Using cheese to predict the weather</i></h4>
            <hr>
            <div style = "text-align: left;hyphens: auto; width: 200px;">
As a long time enjoyer of both hard cheeses and rainy days, the claim that cheeses wrapped in plastic will “sweat” profusely before a large storm is of great interest to me. I set out to investigate whether this adage has any scientific basis. 
<br><br>
Interestingly enough, the initial search of “cheese sweats” references gustatory sweats - a consequence of the protein caesin, which causes the human body to release dopamine upon consumption of cheese and other milk products. Some reports speculate this is an evolutionary incentive for infants to consume their mother’s milk. Cheese also contains amino-acids that, when metabolised, produces phenethylamine, a substance which is commonly compared to amphetamines (yknow, like the drug). While this is a fascinating tangent that no doubt explains the cheese-shaped hole in my wallet, it does not yet explain how I can use cheese to predict the weather.            </div>
            </div>

            <div class = "column" style = "margin-top: 25px">
                <img src = "https://dair-p-001.sitecorecontenthub.cloud/api/public/content/668e9e1a914a464fbcbf66f302cd178a?v=eb110367"
                alt = "placeholder image" style = "width:200px; height: 287.5px; filter:sepia(50)">
                <i style = "text-align: left; margin: 5px">here is an image in case you don't know what cheese is</i>
                <div style = "text-align: left;hyphens: auto; width: 200px;">
At a certain temperature, air is capable of holding a certain amout of water vapour before it is considered “saturated”. Meteorologists use the “dewpoint” temperature - the temperature a body of air must be cooled to become saturated - to determine if precipitation will occur. Of course they are usually wrong, but nevertheless, we have our answer. Since air is more humid and saturated with water vapour before significant rainfall, then more vapour will precipitate out when we wrap our cold cheeses. 
<br><br>
R. Affine, (19-17)            </div>
            </div>
        </div>
        <!--Another split-->
    </div>
    <!--SECTION 3-->
</div>
<!--SECTION 2 AND 3-->

<!-- end main paper -->
</div>

{{ content }}



</body>

</html>

